<script>
function scanRFID() {

    document.getElementById("statusMsg").innerHTML =
        "Waiting for RFID tag...";

    document.getElementById("statusMsg").style.color = "#0066cc";

    const checkUID = setInterval(() => {

        fetch('/api/rfid')
        .then(response => response.json())
        .then(data => {

            if (data.uid && data.uid.trim() !== "") {

                clearInterval(checkUID);

                let uid = data.uid.trim();

                document.getElementById('uid').value = uid;

                fetch('/check_book/' + encodeURIComponent(uid))
                .then(res => res.json())
                .then(book => {

                    let msg = document.getElementById("statusMsg");

                    if (book.status === "Available") {
                        msg.innerHTML = "🟢 Book is Available";
                        msg.style.color = "green";
                    }
                    else if (book.status === "Issued") {
                        msg.innerHTML = "🔴 Book Already Issued";
                        msg.style.color = "red";
                    }
                    else {
                        msg.innerHTML = "⚠ Book Not Found";
                        msg.style.color = "orange";
                    }
                });
            }
        })
        .catch(error => {
            clearInterval(checkUID);
            console.error(error);
            document.getElementById("statusMsg").innerHTML =
                "RFID connection failed";
            document.getElementById("statusMsg").style.color = "red";
        });

    }, 1000);
}
</script>