<!DOCTYPE html>
<html>
<head>

<title>Map RFID Tag</title>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>

body{
font-family:Arial;
background:#f4f6f9;
}

.container{

width:500px;
margin:50px auto;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px lightgray;

}

select,input{

width:100%;
padding:12px;
margin:10px 0;

}

button{

width:100%;
padding:12px;
background:#003366;
color:white;
border:none;
cursor:pointer;

}

</style>

</head>

<body>

<div class="container">

<h2>Map RFID Tag</h2>

<form action="/save_book_uid" method="POST">

<label>Select Book</label>

<select name="book_number">

{% for book in books %}

<option value="{{book.book_number}}">
{{book.book_number}} - {{book.title}}
</option>

{% endfor %}

</select>

<label>RFID UID</label>

<input
type="text"
name="uid"
id="uid"
readonly>

<button>
Map RFID Tag
</button>

</form>

</div>

<script>

setInterval(function(){

fetch("/get_uid")

.then(res=>res.text())

.then(uid=>{

document.getElementById("uid").value=uid;

});

},1000);

</script>

</body>
</html>